:root.theme-dark {
  --bg-color: #05010f;
  --text-color: #e0faff;
  --heading-color: #00f6ff;
  --accent-color: #fff600;
  --title-decor-color: #05010f;
  --title-color: #00f6ff;
  --cover-image: url(../images/cover-image-dark.png);
}
 