:root.theme-dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --heading-color: #ff0070;
  --accent-color: #ff0070;
  --title-decor-color: #000028;
  --title-color: #db00ff;
  --cover-image: url(../images/cover-image-dark.png);
}
 