:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --heading-color: #353430;
  --accent-color: #ff8dcb;
  --title-decor-color: #353430;
  --title-color: #ffc2e6;
  --cover-image: url(../images/cover-image-light.png);
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark):not(.theme-light) {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --heading-color: #353430;
    --accent-color: #ff8dcb;
    --title-decor-color: #353430;
    --title-color: #ffc2e6;
    --cover-image: url(../images/cover-image-light.png);
  }

  :root:not(.theme-dark):not(.theme-light) .header__rec {
    display: none;
  }
}