:root {
  --bg-color: #000028;
  --text-color: #f1e6b2;
  --heading-color: #ffd400;
  --accent-color: #ffd400;
  --title-decor-color: #000028;
  --title-color: #ffaa00;
  --cover-image: url(../images/cover-image-dark.png);
}